.EventChip {
  height: 50px;
  background-color: white;
  color: black;
  font-size: 17px;
  margin: 10px 10px;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    @scale: 1.05;
    transform: scale(@scale);
    background-color: #ddd;
  }

  .date, .name {
    display: inline-block;
    padding: 12px 10px 0;
    height: 100%;
  }

  .date {
    background-color: @accentColor;
    color: @textColor;
    width: 130px;
    text-align: center;
  }

}

@media only screen and (max-width: @tabletBreakPoint) {
  .EventChip {
    height: auto;
    margin-bottom:50px;
    .date, .name {
      width: 100%;
      display: block;
      min-height: 50px;
      height: auto;
    }
  }
}
