@import "variables.less";

.fighter-chip {
  @chipHeight: 200px;
  position: relative;
  text-align: left;
  background-color: white;
  color: @textColor;

  cursor: pointer;
  transition: all 0.2s;

  .picture {
    width: 100%;
    height: @chipHeight;
    background-image: url('../images/fighterPlaceHolder.gif');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .name {
    display: block;
    transition: all 0.5s;
    color: black;
    font-size: 30px;
    text-align: right;
    text-transform: uppercase;
    margin: 0 5px;
  }

  .record {
    color: black;
    text-align: right;
    padding: 0 5px 5px 0;
  }

  .remove {

    position: absolute;
    top: 0;
    /* bottom: 0; */
    right: 0;
    /* width: 45px; */
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    text-align: center;

  }
}

.fighter-chip:hover {
  @scale: 1.05;
  transform: scale(@scale);
  background-color:#ddd;
}

@mobileChipHeight: 50px;
.fighter-chip.small {
  height: @mobileChipHeight;
  .picture {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 50px;

    display: inline-block;
    height: auto;
  }

  .info {
    width: 100%;
    display: inline-block;
    padding-right: 30px;

    .name {
      font-size: 17px;
      padding-top: 12px;
    }

    .record {
      display: none;
    }
  }
  .remove {
    color: black;
    font-size: 20px;
    padding-top: 15px;
  }

}

@media only screen and (max-width: @mobileBreakPoint) {
  .fighter-chip {
    .fighter-chip.small;
  }
}

@media only screen and(max-width: @mobileSmallBreakPoint) {
  .fighter-chip {
    .info {
      .name {
        font-size: 17px;
        padding-top: 12px;
      }
    }

    .remove {
      padding-top: 13px;
    }
  }

}
