.fighter-details {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .details {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;

    margin: 50px auto;
    width: 750px;
    border-radius: 5px;
    height: 90%;
    background-color: white;

    .data {
      color: black;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;

      text-align: left;
      padding: 10px;
      overflow-y: auto;
      overflow-x: hidden;
      box-shadow: 5px 5px 10px black;

      animation-name: fadeIn;
      animation-duration: 0.25s;

      .remove {
        position: absolute;
        top: 10px;
        right: 10px;

        font-size: 30px;
        cursor: pointer;
      }

      .picture {
        width: 200px;
        height: 300px;
        float: left;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 5px 5px 40px black;
      }

      .title {
        p {
          font-size: 30px;
          font-style: italic;
        }
      }

      .info {
        p {
          margin-bottom: 0;

          label {
            font-weight: bold;
            margin-bottom: 0;
          }
        }

        margin-bottom: 20px;
      }

      .info:after {
        content: '';
        display: block;
        clear: both;
      }

    }

    .background-picture {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      filter: blur(30px);
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      border-radius: 5px;
      background-color: black;

      opacity: 0.5;
      .overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.5;
      }
    }
  }
}

@media only screen and (max-width: @tabletBreakPoint) {
  .fighter-details {
    .details {
      padding-top: 0;
      top: 0;
      left: 0;
      right: 0;
      border-radius: 0;
      width: auto;
      margin: 0;
      height: 100%;

      .remove {
        position: relative;
        text-align: right;
      }

      .picture {
        display: none;
      }

    }
  }
}

// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}