@import "variables";

.results {

  padding: 20px;
  .result-step {
    text-align: center;

    .fighter-chip {
      width: 100%;
      display: inline-block;
      box-shadow: 0 0 10px black;
    }

  }

  .switch {
    display: none;
  }

  .nope {
    text-align: center;
  }

}

@media only screen and (max-width: @tabletBreakPoint) {

  .results {
    .result-step {
      .fighter-chip {
        width: 100%;
      }
    }

    .column {
      display: none;
    }

    .column.active {
      display: block;
    }

    .switch {
      display: block;
      text-align: center;
      margin: 5px;
    }
  }

}