@import "variables";

.results {
  .column {

    padding: 20px;
    .result-step {
      text-align: center;

      .fighter-chip {
        width: 50%;
        display: inline-block;
      }

      .separator {
        background-size: cover;
        background: url("../images/explosion.svg") no-repeat center;
        height: 50px;
        margin: 10px;
      }
    }
  }

  .nope {
    text-align: center;
  }
}

@media only screen and (max-width: @mobileBreakPoint) {

  .results {
    .column {
      .result-step {
        .fighter-chip {
          width: 100%;
        }
      }
    }
  }

}