.results {
  padding: 20px;
}
.results .result-step {
  text-align: center;
}
.results .result-step .fighter-chip {
  width: 100%;
  display: inline-block;
}
.results .result-step .separator {
  background-size: cover;
  background: url("../images/explosion.svg") no-repeat center;
  height: 30px;
  margin: 10px;
}
.results .switch {
  display: none;
}
.results .nope {
  text-align: center;
}
@media only screen and (max-width: 425px) {
  .results .result-step .fighter-chip {
    width: 100%;
  }
  .results .column {
    display: none;
  }
  .results .column.active {
    display: block;
  }
  .results .switch {
    display: block;
    text-align: center;
    margin: 5px;
  }
}
