.better-than {
  padding: 30px 10px;
  position: relative;
  color: white;
}
.better-than .fighter1 {
  text-align: right;
}
.better-than .fighter2 {
  text-align: left;
}
.better-than .vs {
  text-align: center;
  font-size: 35px;
}
.better-than .fight-button {
  text-align: center;
  margin-top: 10px;
}
.better-than .fighter-search {
  position: relative;
}
.better-than .fighter-search .search-loader {
  position: absolute;
  right: 10px;
  top: 30%;
}
.better-than .fighter-search input {
  display: inline-block;
}
.better-than .fighter-search .fighters {
  margin: 0;
  position: absolute;
  top: 37px;
  left: 0;
  right: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  cursor: pointer;
  border: 1px solid #ddd;
  color: black;
  z-index: 2;
}
.better-than .fighter-search .fighters li {
  padding: 5px 20px;
  text-align: left;
  position: relative;
  padding-left: 55px;
  height: 50px;
}
.better-than .fighter-search .fighters li .icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  background-image: url('../images/fighterPlaceHolder.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
.better-than::after {
  content: "";
  background-size: cover;
  background-position: center bottom;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
