html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        script(src="https://use.fontawesome.com/90252ac636.js")
        title Mmath
        script(src="https://unpkg.com/react@15.3.2/dist/react.js")
        script(src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js")
        // script(src="https://unpkg.com/babel-core@5.8.38/browser.min.js")
        // script(src="https://unpkg.com/remarkable@1.6.2/dist/remarkable.min.js")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css", integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj", crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700", rel="stylesheet")
        link(rel="stylesheet", href="css/main.css")
    body
        .container
            .title
                h1
                    span.color MMA
                    | TH
                p.sub-title BRO SCIENCE
            #content
            .footer
        script(src="lib/main.js")
        script(src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js", integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU", crossorigin="anonymous")


